@using Microsoft.AspNet.Identity
@using CoffeeShop.Enumerations

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" href="#" id="navbarDropdown" data-toggle="dropdown">@User.Identity.GetUserName()</a>
        <div class="dropdown-menu">
            @Html.ActionLink("Manage account", "Index", "Manage", routeValues: null, htmlAttributes: new { title="Manage", @class="dropdown-item"})
            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </div>
    </li>
    @{
        
        if (User.IsInRole(UserRoles.User))
        {
            <li>@Html.ActionLink("Shopping Cart", "Index", "Cart", null, new { @class = "nav-link" })</li>

        }
        if (User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("Orders", "Index", "Order", null, new { @class = "nav-link" })</li>
        }
    }
</ul>
    }
}
else
{
<ul class="nav navbar-nav ml-auto">
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" , @class="nav-link"})</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class="nav-link"})</li>
</ul>
}
