@model IEnumerable<CoffeeShop.Models.IngredientModel>
@using CoffeeShop.Enumerations

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2 class="text-center mt-3">Ingredients</h2>
    <div class="hr"><hr /></div>
    <div hidden data-ingredient-count="@Model.Count()" id="div-count"></div>

    <div class="container align-btns text-center">
        @{ if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Owner))
            {
                <a href="@Url.Action("Create", "Ingredient",null)" class="text-success fa fa-plus fa-3x m-3">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">Create a new ingredient</span>
                </a>
                if (Model.Count() != 0)
                {
                    <a href="@Url.Action("IngredientStatistics", "Ingredient",null)" class="text-dark fa fa-bar-chart fa-3x m-3">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">Check out ingredient statistics</span>
                    </a>
                }
            }
        }
        @{
            if (Model.Count() != 0)
            {
                <a class="text-info fa fa-image fa-3x m-3" id="toggle-img">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">Toggle ingredient image</span>
                </a>
            }
        }

    </div>
    @{
        if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Owner) || Model.Count() != 0)
        {
            <div class="hr"><hr /></div>
        }
    }
<div class="table-responsive">
    <table class="table table-hover table-striped dt-responsive display nowrap" id="table1" style="width:100%">
        <thead class="bg-dark text-orange">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="img-field hidden-img no-sort">
                    @Html.DisplayNameFor(model => model.ImgUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="no-sort">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="img-field hidden-img">
                        <a href="/Ingredient/Details/@item.IngredientId">
                            <img alt="@item.Name" src="@Url.Content(item.ImgUrl)" />
                        </a>
                    </td>
                    <td>
                        @if (item.Description != null)
                        {
                            @Html.DisplayFor(modelItem => item.Description)
                        }
                        else
                        {
                            <p>Currently there is no available description...</p>
                        }
                    </td>
                    <td>
                        @{
                            if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Owner))
                            {
                                @Html.ActionLink("‎", "Edit", new { id = item.IngredientId }, new { @class = "fa fa-edit fa-2x text-warning", @title = "Edit ingredient" })
                                <a data-ingredient-id="@item.IngredientId" class="fa fa-remove js-delete fa-2x text-danger" title="Delete ingredient"></a>
                            }
                        }
                        @Html.ActionLink("‎", "Details", new { id = item.IngredientId }, new { @class = "fa fa-info-circle fa-2x text-success", @title = "Ingredient details" })
                </tr>

            }
        </tbody>

    </table>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/Styles/Checkbox.css")" rel="stylesheet" type="text/css" />
    <style>
        a {
            text-decoration: none;
            height: 100%;
            display: block;
            margin: 0;
            padding: 0;
        }

            a span {
                color: black;
                font-size: 10px;
                padding: 5px 0 10px 0;
                display: block;
                text-transform: uppercase;
                font-weight: bolder;
                font-family: 'Josefin Sans';
            }
    </style>
}

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $("#table1").DataTable();
            $('#toggle-img').on("click", function () {
                if ($('.hidden-img').is(':hidden')) {
                    $('.hidden-img').toggle('slow');
                }
                else {
                    $('.hidden-img').toggle();
                }
            });

            $(".js-delete").click(function () {
                var button = $(this);
                bootbox.confirm("Дали сигурно сакате да ја избришете состојката?", function (result) {
                    if (result) {
                        $.ajax({
                            method: "POST",
                            url: "/Ingredient/Delete/" + button.attr("data-ingredient-id"),
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                var div = $("#div-count");
                                var value = div.attr("data-ingredient-count");
                                var newValue = parseInt(value) - 1;
                                div.attr("data-ingredient-count", newValue)
                                if (parseInt(div.attr("data-ingredient-count")) == 0) {
                                    location.reload();
                                }
                            },
                        });
                    }
                })
            });
        });
    </script>
}
