@model IEnumerable<CoffeeShop.Models.IngredientModel>
@using CoffeeShop.Enumerations

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Состојки</h2>
<div class="hr"><hr /></div>
<div hidden data-ingredient-count="@Model.Count()" id="div-count"></div>

<div class="container align-btns" >
    @{ if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Owner))
        {
            @Html.ActionLink("Create a new ingredient", "Create", null, new { @class = "inline-btn btn btn-primary" })
            if (Model.Count() != 0)
            {
                @Html.ActionLink("Check out ingredient statistics", "IngredientStatistics", null, new { @class = "inline-btn btn btn-primary" })

            }
        }
    }
    @{
        if (Model.Count() != 0)
        {
            <button class="inline-btn btn btn-info" id="toggle-img">Toggle ingredient image</button>

        }
    }

</div>
@{
    if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Owner) || Model.Count() != 0)
    {
        <div class="hr"><hr /></div>
    }
}
<table class="table" id="table1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="img-field hidden-img no-sort">
                @Html.DisplayNameFor(model => model.ImgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="no-sort">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="img-field hidden-img">
                    <img src="@item.ImgUrl" alt="@item.Name" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @{
                        if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Owner))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.IngredientId }, new { @class = "btn btn-info" })
                            <button data-ingredient-id="@item.IngredientId" class="btn btn-danger js-delete">Delete</button>
                        }
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.IngredientId }, new { @class = "btn btn-info" })
                </td>
            </tr>

        }
    </tbody>

</table>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $("#table1").DataTable();
            $('#toggle-img').on("click", function () {
                $('.hidden-img').toggle('slow');
            });

            $(".js-delete").click(function () {
                var button = $(this);
                bootbox.confirm("Дали сигурна сакате да ја избришете состојката?", function (result) {
                    if (result) {
                        $.ajax({
                            method: "POST",
                            url: "/Ingredient/Delete/" + button.attr("data-ingredient-id"),
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                var div = $("#div-count");
                                var value = div.attr("data-ingredient-count");
                                var newValue = parseInt(value) - 1;
                                div.attr("data-ingredient-count", newValue)
                                if (parseInt(div.attr("data-ingredient-count")) == 0) {
                                    location.reload();
                                }
                            },
                        });
                    }
                })
            });
        });
    </script>
}
