@model CoffeeShop.Models.CoffeeModel
@using CoffeeShop.Models

<div class="panel panel-primary col-md-5 block">
    <div class="panel-heading">
        <h3 class="panel-title">Your daily deal: @Model.Name</h3>
    </div>
    <div class="panel-body">
        <p>
            <img alt="@Model.Name" src="@Url.Content(Model.ImgUrl)" width="80%" />
        </p>
        <div>
            <p>
                <em>Size: </em>@Model.Size
            </p>
            <p>
                <em>Description: </em>@Model.Description
            </p>
            <p>
                <em>Price: </em>
                @String.Format("{0:F}", Model.TotalPrice)
            </p>
            <h5 class="panel-footer">Ingredients: </h5>
            <p>
                @{
                    foreach (IngredientInCoffeeModel ingredientQuantity in (List<IngredientInCoffeeModel>)ViewBag.IngredientsForCoffee)
                    {
                        <strong>@ingredientQuantity.Ingredient.Name x @ingredientQuantity.Quantity</strong>
                        <br />
                    }
                }<br />
            </p>
        </div>
        @Html.ActionLink("Add to shopping cart", "Create", "OrderItem", new { id = Model.CoffeeId }, new { @class = "btn btn-success btn-block" })
        <br />
        @Ajax.ActionLink("Hide",
                         "HideDeal",
                         null,
                         new AjaxOptions
                         {
                             UpdateTargetId = "dailydeal",
                             InsertionMode = InsertionMode.Replace,
                             HttpMethod = "GET"
                         },
                         new { @class = "btn btn-info btn-block" })
    </div>
</div>
