@model IEnumerable<CoffeeShop.Models.ViewModels.CoffeeStatisticViewModel>

@{
    ViewBag.Title = "CoffeeStatistics";
}
<div class="container">
    <h2 class="text-center mt-3">Coffee Statistics</h2>
    <div class="hr"><hr /></div>
    <div class="container align-btns text-center d-inline-block">
        <h4 class="col-md-6 float-left">
            All time
        </h4>

        <h4 class="col-md-6 float-right">
            This week
        </h4>
        <div class="col-md-6 float-left">
            @Html.ActionLink("Most sold", "MostSold", null, new { @class = "btn btn-info" })

            @Html.ActionLink("Least sold", "LeastSold", null, new { @class = "btn btn-info" })
        </div>

        <div class="col-md-6 float-right">
            @Html.ActionLink("Most sold this week", "MostSoldWeek", null, new { @class = "btn btn-info" })

            @Html.ActionLink("Least sold this week", "LeastSoldWeek", null, new { @class = "btn btn-info" })
        </div>


        <a class="text-info fa fa-image fa-3x mr-5" id="toggle-img"></a>
    </div>

    <div class="hr"><hr /></div>

    <table class="table" id="table_coffee_statistics">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Coffee.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coffee.ImgUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coffee.QuantityInStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coffee.QuantitySoldLastWeek)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coffee.TotalQuantitySold)
                </th>
                <th>
                    Stock Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coffee.Name)
                    </td>
                    <td class="img-field hidden-img">
                        <a href="/Coffee/Details/@item.Coffee.CoffeeId">
                            <img alt="@item.Coffee.Name" src="@Url.Content(item.Coffee.ImgUrl)" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coffee.QuantityInStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coffee.QuantitySoldLastWeek)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coffee.TotalQuantitySold)
                    </td>
                    <td class="text-center">
                        <a data-button-id=@item.Coffee.CoffeeId data-max-decrease=@item.Coffee.QuantityInStock data-max-increase="@item.MaxIncreaseStock" class="fa fa-chevron-up fa-2x text-success btn_increase"></a><br />
                        <a data-button-id=@item.Coffee.CoffeeId data-max-decrease=@item.Coffee.QuantityInStock data-max-increase="@item.MaxIncreaseStock" class="fa fa-chevron-down fa-2x text-danger btn_decrease"></a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

    <div>
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-info" })
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        var table = $("#table_coffee_statistics").DataTable();
        $('#toggle-img').on("click", function () {
            $('.hidden-img').toggle('slow');
        });
            $("#table_coffee_statistics .btn_increase").click(function () {
                var button = $(this);
                bootbox.prompt({
                    title: "Внесете колку сакате да зголемите залиха",
                    inputType: 'number',
                    max: button.attr("data-max-increase"),
                    min: 0,
                    value: 1,
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                method: "POST",
                                data: { "id":button.attr("data-button-id"), "quantity": result },
                                url: "/Coffee/UpdateCoffeeQuantity",
                                dataType: 'json',
                                error: function () {
                                    var row_index = table.row(button.parents("tr")).index()
                                    var cell_data = table.cell({ row: row_index, column: 2 }).data()
                                    table.draw()
                                    bootbox.alert({
                                        message: "Successfully updated stock!",
                                        backdrop: true
                                    });
                                    location.reload()
                                }
                            });
                        }
                    }
                });
                });

            $("#table_coffee_statistics .btn_decrease").click(function () {
                var button = $(this);
                bootbox.prompt({
                    title: "Внесете колку сакате да намалите залиха",
                    inputType: 'number',
                    max: button.attr("data-max-decrease"),
                    min: 0,
                    value: 1,
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                method: "POST",
                                data: { "id": button.attr("data-button-id"), "quantity": -result },
                                url: "/Coffee/UpdateCoffeeQuantity",
                                error: function () {
                                    var row_index = table.row(button.parents("tr")).index()
                                    var cell_data = table.cell({ row: row_index, column: 2 }).data()
                                    table.cell({ row: row_index, column: 2 }).data(parseInt(cell_data) + parseInt(-result))
                                    table.draw()
                                    bootbox.alert({
                                        message: "Successfully updated stock!",
                                        backdrop: true
                                    });
                                    location.reload();
                                },
                                dataType: 'json'
                            });
                        }
                    }
                });
            });
    </script>
}
