@model IEnumerable<CoffeeShop.Models.CoffeeModel>
@using CoffeeShop.Models;
@using CoffeeShop.Enumerations;

@{
    ViewBag.Title = "Coffee for sale";
}
<div class="container" style="width:100%; max-width:80%">
    <h2 class="text-center mt-3">Coffee</h2>
    <div class="hr"><hr /></div>

    <div hidden data-coffee-count="@Model.Count()" id="div-count"></div>

    <div class="container">
        <div class="container align-btns" style=" display: inline-block">
            @{
                if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Owner))
                {
                    <a href="@Url.Action("Create", "Coffee",null)" class="text-success fa fa-plus fa-3x m-3">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">Create a new coffee</span>
                    </a>
                    if (Model.Count() != 0)
                    {
                        <a href="@Url.Action("CoffeeStatistics", "Coffee",null)" class="text-dark fa fa-bar-chart fa-3x m-3">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">Check out coffee statistics</span>
                        </a>
                    }
                }
            }
            @{
                if (User.IsInRole(UserRoles.User))
                {
                    <a href="@Url.Action("CreateCustom", "Coffee",null)" class="text-primary fa fa-plus fa-3x m-3">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">Create your custom coffee</span>
                    </a>
                }
            }

            @{
                if (Model.Count() != 0)
                {
                    <a class="text-info fa fa-image fa-3x m-3" id="toggle-img">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">Toggle coffee image</span>
                    </a>
                }
            }
        </div>
        <div class="container align-btns" style="display:inline-block">
            <div class="container" id="dailydeal">
                @Ajax.ActionLink("‎",
                       "CoffeeDay",
                       null,
                       new AjaxOptions
                       {
                           UpdateTargetId = "dailydeal",
                           InsertionMode = InsertionMode.Replace,
                           HttpMethod = "GET"
                       },
                       new { @class = "text-danger fa fa-calendar-check-o fa-3x m-3 ", style = "display:block" })
                <span>See the daily deal!</span>
            </div>
        </div>
    </div>
    @{
        if (Request.IsAuthenticated)
        {
            <div class="hr"><hr /></div>
        }
    }
    <div class="table-responsive">
        <table class="table table-hover table-striped dt-responsive display" id="table1" style="width:100%">
            <thead class="bg-dark text-orange">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalPrice)
                    </th>
                    <th class="hidden-img no-sort">
                        @Html.DisplayNameFor(model => model.ImgUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th class="no-sort">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @String.Format("{0:0.##} mkd.",item.TotalPrice)
                        </td>
                        <td class="img-field hidden-img">
                            <a href="/Coffee/Details/@item.CoffeeId">
                                <img alt="@item.Name" src="@Url.Content(item.ImgUrl)" />
                            </a>
                        </td>
                        <td style="word-break:break-all">
                            @if (item.Description != null && item.Description!="")
                            {
                                @Html.DisplayFor(modelItem => item.Description)
                            }
                            else
                            {
                                <p>Currently there is no available description...</p>
                            }
                        </td>
                        <td>
                            @{
                                if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Owner))
                                {
                                    @Html.ActionLink("‎", "Edit", new { id = item.CoffeeId }, new { @class = "fa fa-edit fa-2x text-warning", @title = "Edit coffee" })
                                    <a data-coffee-id="@item.CoffeeId" class="fa fa-remove js-delete fa-2x text-danger" title="Delete coffee"></a>
                                }
                            }
                            @Html.ActionLink("‎", "Details", new { id = item.CoffeeId }, new { @class = "fa fa-info-circle fa-2x text-success", @title = "Coffee details" })
                            @{
                                if (User.IsInRole(UserRoles.User))
                                {
                                    @Html.ActionLink("Add to shopping cart", "Create", "OrderItem", new { id = item.CoffeeId }, new { @class = "btn btn-success" })
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/Styles/Checkbox.css")" rel="stylesheet" type="text/css" />
    <style>
        a {
            text-decoration: none;
            height: 100%;
            display: block;
            margin: 0;
            padding: 0;
        }

            a span {
                color: black;
                font-size: 10px;
                padding: 5px 0 10px 0;
                display: block;
                text-transform: uppercase;
                font-weight: bolder;
                font-family: 'Josefin Sans';
            }
    </style>
}

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $("#table1").DataTable();
            $('#toggle-img').on("click", function () {
                if ($('.hidden-img').is(':hidden')) {
                    $('.hidden-img').toggle('slow');
                }
                else {
                    $('.hidden-img').toggle();
                }
            });

            $("#table1 .js-delete").click(function () {
                var button = $(this);
                bootbox.confirm("Дали сакате да го избришете кафето?", function (result) {
                    if (result) {
                        $.ajax({
                            method: "POST",
                            url: "/Coffee/Delete/" + button.attr("data-coffee-id"),
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                var div = $("#div-count");
                                var value = div.attr("data-coffee-count");
                                var newValue = parseInt(value) - 1;
                                div.attr("data-coffee-count", newValue)
                                if (parseInt(div.attr("data-coffee-count")) == 0) {
                                    location.reload();
                                }
                            }
                        });
                    }
                });
            });


            $(".ing_check").click(function () {
                var ids = {};
                $('input[type=checkbox]:checked').each(function () {
                    ids[$(this).attr("name")] = $(this).val();
                });
                $.ajax({
                    method: "GET",
                    url: "/api/CoffeeApi",
                    data: ids,
                    success: function (result) {
                        var validData = JSON.stringify(result);
                        $('#table1').DataTable()["aaData"] = validData;
                        table.draw();
                    },
                    dataType: 'json'
                });
            });
        });
    </script>
}